# Dependências (ignora em QUALQUER subpasta, seja backend ou frontend)
node_modules/

# Arquivos de Build do Vite
dist
dist-ssr

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Arquivos de ambiente (NUNCA subir para o GitHub)
.env
.env.local
*.local

# Arquivos de sistema e de editores de código
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?